@model IEnumerable<Prover.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    body{
        background:black;
        color:white;
    }
</style>







<p>
    <a asp-action="Create" style="color:yellow">Create New</a>
</p>
<table class="table" style="color:yellow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description) 
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <a asp-action="Edit" style="color:yellow" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" style="color:yellow" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" style="color:yellow" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
